<launch>
    <arg name="terminate_at_end" default="true" />
    <arg name="save_directory" default="$(env HOME)/Desktop/temp/sc_pgo_data/" />
    <arg name="use_quatro" default="true"/>
    <arg name="use_intraloop" default="true"/>

    <param name="deepmodelpath" type="string" value="/home/cyw/CYW/lidar_PR_models/inhouse_best_model_RI_V6.pt"/>
    <param name="terminate_at_end" type="bool" value="$(arg terminate_at_end)"/>
    <param name="scan_line" type="int" value="32" />

    <!-- if 1, do mapping 10 Hz, if 2, do mapping 5 Hz. Suggest to use 1, it will adjust frequence automaticlly -->
    <param name="mapping_skip_frame" type="int" value="1" />

    <!-- remove too closed points -->
    <param name="minimum_range" type="double" value="0.3"/>

    <param name="mapping_line_resolution" type="double" value="0.2"/>
    <param name="mapping_plane_resolution" type="double" value="0.4"/>

    <!-- SC-A-LOAM smaller-->
    <param name="keyframe_meter_gap" type="double" value="3.0"/> <!-- 2.0 for whu, 0.01 for rooftop -->
    <param name="keyframe_deg_gap" type="double" value="5.0"/>  <!-- 5.0 for whu, 0.01 for rooftop -->

    <!-- lcd -->
    <param name="use_intraloop" type="bool" value="$(arg use_intraloop)"/> <!-- true for SC-A-LOAM, false for SC-PGO -->
    <param name="lcd_mode" type="int" value="2"/> 
    <!-- 0:radiuSearch, 1: SC search, 2: DeepDesc search -->
    <param name="loopClosureFrequency" type="double" value="1"/> <!-- 1: 1Hz, 2: 0.5Hz -->

    <!-- Scan Context -->
    <param name="sc_dist_thres" type="double" value="0.3"/> <!-- SC-A-LOAM, if want no outliers, use 0.1-0.15 -->
    <param name="Multi_Agents_SC_DIST_THRES" type="double" value="0.3"/>
    <!-- <param name="sc_max_radius" type="double" value="20.0"/> 20 or 40 for indoor -->
    <param name="sc_max_radius" type="double" value="100.0"/> <!-- for outdoor -->
    <param name="loopNoiseScore" type="double" value="0.005"/> <!-- 0.02 for indoor-->
    <param name="lcd_filter_size" type="double" value="0.4"/>

    <!-- deep descriptor -->
    <param name="des_dim" type="double" value="256"/>
    <param name="halfsubmapsize" type="int" value="3"/> <!-- 4 for rooftop, 2 for whu -->
    <param name="num_exclude_recent" type="int" value="50"/> <!-- 50 for whu -->
    <param name="loop_desc_dist_thres" type="double" value="2.5"/> 
    <param name="Multi_Agents_loop_desc_dist_thres" type="double" value="0.15"/>  <!--0.05 for sanil, 0.15 for whu outdoor, 0.08 for indoor--> 
    <param name="loop_desc_min_second_rate_thres" type="double" value="1.0"/> <!-- min/second_min -->
    <param name="tree_make_step" type="int" value="3"/>  <!-- tree make step -->

    <!-- ICP -->
    <param name="loopFitnessScoreThreshold" type="double" value="0.6"/> <!-- 0.6 for whu-->
    <param name="InterloopFitnessScoreThreshold" type="double" value="2.0" /> <!-- 2.5 for snail, 1.0 for whu outdoor, 0.8 for indoor -->
    <param name="historyKeyframeSearchNum" type="int" value="10"/> <!-- 10 for whu -->
    <param name="icp_filter_size" type="double" value="0.4"/>

    <!--  -->
    <param name="lidar_type" type="string" value="HDL32"/>

    <!-- Quatro -->
    <param name="use_quatro" type="bool" value="$(arg use_quatro)"/>
    <param name="filter_ground" type="bool" value="true"/>
    <rosparam command="load" file="$(find aloam_velodyne)/config/quatro_params_whu.yaml" />
    <rosparam command="load" file="$(find aloam_velodyne)/config/patchwork_params.yaml" />

    <!-- input from FASTLIO2 -->
    <!-- https://blog.csdn.net/Rootzzy1216/article/details/127171485 -->
    <param name="num_robots" value="3" type="int"/>  
    
    <param name="robot1_odom_topic" value="/robot0/odom"/> <!-- /robot0/odom or /robot_0/odom -->
    <param name="robot1_full_cloud_topic" value="/robot0/full_cloud"/>
    <param name="robot1_gps_topic" value="/robot0/gps"/>

    <param name="robot0_odom_topic" value="/robot1/odom"/>
    <param name="robot0_full_cloud_topic" value="/robot1/full_cloud"/>
    <param name="robot0_gps_topic" value="/robot1/gps"/>

    <param name="robot2_odom_topic" value="/robot2/odom"/>
    <param name="robot2_full_cloud_topic" value="/robot2/full_cloud"/>
    <param name="robot2_gps_topic" value="/robot2/gps"/>


    <param name="save_directory" type="string" value="$(arg save_directory)"/>  <!-- CHANGE THIS and end with / -->

    <!-- <node pkg="aloam_velodyne" type="ascanRegistration" name="ascanRegistration" output="screen" />
    <node pkg="aloam_velodyne" type="alaserOdometry" name="alaserOdometry" output="screen" />
    <node pkg="aloam_velodyne" type="alaserMapping" name="alaserMapping" output="screen" /> -->
    <node pkg="aloam_velodyne" type="multirobotPGO" name="multirobotPGO" output="screen" required="true"/> <!-- SC-A-LOAM -->

    <arg name="rviz" default="true" />
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="pgo_rviz1" args="-d $(find aloam_velodyne)/rviz_cfg/aloam_velodyne.rviz" />
    </group>

</launch>
